html {
  font-size: 10px;
  @media (max-width: 1200px) {
    font-size: 9px;
  }
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: "Inter", serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  color: #A3A8B3;

  &.safari * {
  }
}

html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main.content {
  position: relative;
  flex: 1;
}

a {
  font-family: "Inter", serif;
  font-weight: 400;
}

img:not(.pswp__img) {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

.not-active {
  pointer-events: none;
  opacity: 0.6;
  transition: 0.3s ease;
}

.preloader img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  background-color: rgba(0, 122, 255, .1);
  opacity: 0;
  transition: 0.1s ease;
  pointer-events: none;
  z-index: 1;
}

.preloader.active {
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 20;
}

img.contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

img.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  position: relative;
}

.container {
  width: 100%;
  max-width: 156rem;
  margin: 0 auto;

  @media (max-width: 1600px) {
    padding: 0 1.6rem;
  }
}

strong {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

.title {
  margin-bottom: 4rem;
  text-align: center;
  color: #020A1B;
  font-family: "Exo 2", serif;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 128%;
  letter-spacing: 0.026rem;
  text-transform: uppercase;

  &--white {
    color: #fff;
  }

  @media (max-width: 1200px) {
    font-size: 5rem;
  }
  @media (max-width: 1024px) {
    font-size: 4rem;
  }
}

.text {
  color: #A3A8B3;

  font-family: "Inter", serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
}

.section {
  position: relative;

  &:not(.head-section) {
    padding: 9rem 0;
    @media (max-width: 1024px) {
      padding: 4rem 0;
    }
  }
}

.rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.6rem;

  .star {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.6rem;
    height: 1.6rem;
    flex-grow: 0;
    flex-shrink: 0;

    img, svg {
      width: 100%;
      height: 100%;
    }

    &.active {
      svg {
        path {
          fill: #FFCF30;
        }
      }
    }
  }

  &-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.8rem;
    height: 4.8rem;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
    input{
      display: none;
      &:checked + {
        svg{
          path{
            fill: #FFCF30;
          }
        }
      }
    }
    &:hover, &.active{
      svg{
        path{
          fill: rgba(#FFCF30, 0.6);
        }
      }
    }
    &.current{
      svg{
        path{
          fill: #FFCF30;
        }
      }
    }
  }
  &-inputs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.6rem;
  }
}

.slick-arrows {
  display: flex;
  gap: 0.8rem;

  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    border: 1px solid #D0D4DD;

    svg {
      path {
        fill: #DA3134;
      }
    }

    &:hover {
      background-color: #DA3134;
      border-color: #DA3134;

      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
}

.slick-slide {
  height: auto !important;
}

.modal-window {
  display: none;
  padding: 4rem;
  width: 100%;
  max-width: 50.4rem;
  background: #FFF;

  &__title {
    margin-bottom: 2.4rem;
    color: #020A1B;
    font-family: "Exo 2", serif;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.014rem;
    text-transform: uppercase;
    @media (max-width: 1024px) {
      margin-bottom: 2rem;
      font-size: 2rem;
    }
  }
}