.button{
  display: inline-flex;
  padding: 1.5rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  background: #FFF;
  border: 1px solid #FFF;
  color: #020A1B;
  font-family: "Exo 2", serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: 146%;
  letter-spacing: 0.0085rem;
  text-transform: uppercase;
  outline: none;
  .icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    flex-grow: 0;
    flex-shrink: 0;
    pointer-events: none;
  }
  &:hover{
    background: #020A1B;
    color: #fff;
    border-color: rgba(255,255,225,0);
  }
  &--border{
    border: 1px solid #D0D4DD;
  }
  &--red{
    color: #DA3134;
  }
  &--red-bg{
    border: 1px solid #DA3134;
    background: #DA3134;
    color: #fff;
  }
}