.button{
  display: inline-flex;
  padding: 1.5rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  background: #FFF;
  color: #020A1B;
  font-family: "Exo 2", serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: 146%;
  letter-spacing: 0.0085rem;
  text-transform: uppercase;
  &:hover{
    background: #020A1B;
    color: #fff;
  }
  &--border{
    border: 1px solid #D0D4DD;
  }
  &--red{
    color: #DA3134;
  }
}