.calendar {
  width: 100%;
  padding: 10px;
  text-align: center;

  &-header {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    color: #020A1B;
    text-align: center;
    font-family: "Exo 2", serif;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: 146%;
    letter-spacing: 0.0085rem;
    text-transform: uppercase;
    &__next, &__prev{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.4rem;
      height: 2.4rem;
      flex-shrink: 0;
      background: #fff;
      border: 1px solid #fff;
      cursor: pointer;
      &:hover{
        border-color: #DA3134;
      }
    }
  }

  .weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }

  .weekdays div {
    display: flex;
    width: 6rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    color: #A3A8B3;
    text-align: center;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: 165%;
    @media (max-width: 500px){
      width: 4rem;
    }
    @media (max-width: 360px){
      width: 3rem;
    }
  }

  .day {
    display: flex;
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    color:  #020A1B;
    text-align: center;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
    transition: 0.4s ease-in-out;
    @media (max-width: 500px){
      width: 4rem;
      height: 4rem;
    }
    @media (max-width: 360px){
      width: 3rem;
      height: 3rem;
    }
    &.today {
      color: #DA3134;
    }
    &:hover {
      background-color: #ddd;
    }
    &.active {
      background-color: #DA3134;
      color: white;
    }
    &.not-active{
      opacity: 0.4;
    }
    &.not-active-day{
      opacity: 0.5;
      pointer-events: none;
    }
  }


}
