
<div class="book-form-row">
    <label  class="form-label">
        <span class="form-label-head">Category*</span>
        <select class="select category-select" required>
            <option selected disabled>Select the category</option>
            <option>category 1</option>
            <option>category 2</option>
        </select>
    </label>
    <label  class="form-label not-active">
        <span class="form-label-head">Type*</span>
        <select class="select type-select" required>
            <option selected disabled>Select the Type</option>
            <option>Type 1</option>
            <option>Type 2</option>
        </select>
    </label>
    <div class="form-quantity not-active form-label">
        <span class="form-label-head">Quantity*</span>
        <label class="form-quantity-wrapper">
            <input type="text" class="number-input" value="1" >
            <span class="form-quantity-controls">
                                    <a href="#" class="minus"><img src="img/arrow-l.svg" alt=""></a>
                                    <a href="#" class="plus"><img src="img/arrow-r.svg" alt=""></a>
                                </span>
        </label>
    </div>
    <a href="#" class="book-form-row__delete">
        <img src="img/delete.svg" alt="">
    </a>
</div>