.clients{
  &__title{
    margin-right: 2rem;
    text-align: left;
    margin-bottom: 0;
    @media (max-width: 800px){
      margin-right: 0;
      margin-bottom: 2rem;
      text-align: center;
    }
  }
  &-section{
    &-head{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 5rem;
      @media (max-width: 800px){
        flex-direction: column;
        align-items: center;
      }
    }
  }
  &-list{
    display: flex;
    margin-bottom: 3.2rem;
    &-item{
      margin: auto;
      margin-top: 1rem;
      position: relative;
      width: 100%;
      max-width: 50.4rem;
      padding: 4rem;
      border: 1px solid #D0D4DD;
      @media (max-width: 1600px){
        width: 96%;
        padding-left: 2rem;
        padding-right: 2rem;
      }
      &__text{
        color: #020a1b;
      }
      &__image{
        position: absolute;
        top: -1rem;
        right: 1.6rem;
        width: 5.8rem;
        height: 5.6rem;
        flex-shrink: 0;
      }
      &__name{
        margin-bottom: 1rem;
        color:  #020A1B;
        font-family: "Exo 2", serif;
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 3.92rem */
        letter-spacing: 0.014rem;
        text-transform: uppercase;
      }
      &-head{
        margin-bottom: 2.4rem;
      }
    }
  }
}

.slick-slide{
  .clients-list-item{
    height: 97%;
  }
}