.head {
  &-wrap {
    position: relative;
    z-index: 1;
    padding-top: 12rem;
    padding-bottom: 2rem;
    width: 100%;
    max-width: 71.5rem;
    margin-right: 2rem;
    margin-left: calc((100vw - 156rem) / 2);
    @media (max-width: 1600px) {
      padding-left: 1.6rem;
      padding-right: 1.6rem;
      margin-left: 0;
    }
    @media (max-width: 1024px) {
     padding: 2rem 1.6rem;
    }
  }

  &-section {
    position: relative;
    background-color: #DA3134;
    overflow: hidden;
    @media (max-width: 600px) {
      padding: 2rem;
      background-color: #fff;
    }
    &-decor {
      position: absolute;
      z-index: 1;
      top: 14rem;
      left: 0;
      opacity: 0.06;
    }
  }

  &-content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100% - 97.2rem);
    @media (max-width: 1500px) {
      width: 50%;
    }
    &:after{
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 60%;
      top: 77.6rem;
      right: -19.7rem;
      background-color: #DA3134;
    }
    &-decor {
      position: absolute;
      top: 0;
      right: -25rem;
      width: 119.5rem;
      height: 77.6rem;
      background-position: right top;
      background-repeat: no-repeat;
      @media (max-width: 1500px) {
        width: 100%;
        height: 100%;
        background-size: cover;
        right: -23.9rem;
      }
      @media (max-width: 1200px) {
        right: -23.9rem;
      }
      @media (max-width: 1024px) {
        display: none;
      }
    }

    &-line {
      position: relative;
      z-index: 1;
      width: calc(100% + 19.7rem);
      display: flex;
      margin-top: auto;
      padding: 2.4rem 0;
      background-color: #062058;
      overflow: hidden;
      color: #FFF;
      font-family: "Exo 2", serif;
      font-size: 2.8rem;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: 0.014rem;
      text-transform: uppercase;
      white-space: nowrap;
      text-overflow: ellipsis;

      @media (max-width: 1200px) {
        width: calc(100% + 19.8rem);
      }
      @media (max-width: 1024px) {
        width: 100%;
      }
      @media (max-width: 1024px) {
        padding: 0.4rem 0;
      }
      &-container {
        animation: marquee 60s linear infinite;

        @media (max-width: 1920px) {
          animation: marquee 25s linear infinite;
        }
      }

      span {
        padding: 0 2.4rem;
        opacity: 0.2;
        @media (max-width: 1024px) {
          padding: 0 1.4rem;
        }
      }
    }
    @media (max-width: 600px) {
      z-index: 1;
      width: 100%;
      background-color:rgba( #DA3134, 0.8);
    }
  }

  &-section {
    display: flex;

    &__image {
      position: absolute;
      z-index: 0;
      right: 0;
      top: 0;
      width: 97.2rem;
      height: 100%;
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 0;
      @media (max-width: 1500px) {
        width: 50%;
      }

      @media (max-width: 600px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__text {
    width: 100%;
    max-width: 50.4rem;
    margin-bottom: 4rem;
    color: #FFF;
    font-family: "Inter", serif;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
    opacity: 0.7;
    @media (max-width: 1024px) {
      margin-bottom: 2rem;
    }
  }

  &__title {
    margin-bottom: 3.2rem;
    color: #FFF;
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 122%;
    letter-spacing: 0.032rem;
    text-transform: uppercase;
    @media (max-width: 1600px) {
      font-size: 4.6rem;
    }
    @media (max-width: 1024px) {
      margin-bottom: 2rem;
      font-size: 4rem;
    }
    @media (max-width: 767px) {
      font-size: 3rem;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}