.header {
  position: relative;
  background: #062058;
  &__logo {
    margin-right: 2rem;
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 0;
    @media (max-width: 1600px) {
      padding: 1rem 0;
    }
  }

  &-nav {
    @media (max-width: 1024px) {
      position: absolute;
      z-index: 10;
      top: 100%;
      left: 0;
      padding: 1rem 1.6rem;
      width: 100%;
      background: #062058;
      border-top: 1px solid rgba(255,255,255,0.2);
      transform: translateY(100px);
      opacity: 0;
      transition: 0.4s ease-in-out;
      will-change: transform;
      pointer-events: none;
    }
    &.active{
      @media (max-width: 1024px) {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
      }
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-end;
      }
    }

    li {
      position: relative;
      padding: 0 3.2rem;
      @media (max-width: 1600px) {
        padding: 0 2rem;
      }
      @media (max-width: 768px) {
        padding-left: 0;
        padding-right: 0;
      }
      &:after{
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateX(50%) translateY(-50%);
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.2;
        @media (max-width: 768px) {
          display: none;
        }
      }
      &:last-child{
        padding-right: 0;
        &:after{
          display: none;
        }
      }
    }

    a {
      display: block;
      padding: 0.5rem;
      border-bottom: 1px solid rgba(#fff, 0);
      color: #FFF;
      font-family: "Exo 2", serif;
      font-size: 1.7rem;
      font-style: normal;
      font-weight: 500;
      line-height: 146%;
      letter-spacing: 0.0085rem;
      text-transform: uppercase;
      transition: 1s ease-in-out;

      &:hover {
        border-color: rgba(#fff, 0.8);
      }
    }
  }
}